#random-name {
    margin: 3rem 0;
    background-color: rgb(241, 245, 248);
    font-style: bold;
    font-family: Open Sans; font-size: 40px;
  }
#generate {
  color: rgb(255, 255, 255);
  background: #4f9ca5; 
  font-family: Open Sans; font-size: 40px;
  padding-right:50px;
  padding-left: 50px;

}
.btn {
  padding-right:50px;
  padding-left: 50px;
}

.lead {
  font-family: Open Sans; font-size: 40px;
}
.head {font-family: Open Sans; font-size: 40px;
}
.container {
  text-align: center;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


.body {    font-family: Open Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center}
  
  